/*
Author: Annvi Fuller
Date: December 10, 2025
File Name: styles.css
*/

/*CSS Reset*/

body, header, nav, main, footer, img, h1 ,ul{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style Rules for Header Content */

header {
    text-align: center;
    font-size: 1.5em;
    color: #0c0c0c;
    background-color: #d6f8d6;
}

header h1 {
    font-family: "Roboto", serif;
    font-size: 2em;
    text-align: center;
}

header h2 {
    font-family: "Nunito", serif;
    font-size: 1.5em;
    text-align: center;
}

.logo {
   
    padding: 0%;
    margin: 1% 0 1% 0;
    text-shadow: #000;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.paw {
    font-size: 50px;
}

/* Style Rules for body*/

body {
    background-color:#d6f8d6;
    text-overflow: auto;
}

h1 {
    font-family: "Roboto", serif;
    font-size: 2em;
    padding: 1%;
    text-align: center;
}





/*Style Rules for Navigation Area */

nav {
    background-color: #7fc6a4;
    display: block;
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    
    
}

nav li{
        border-top: none;
        display: inline-block;
        font-size: 1.5em;
        border-right: 2px solid #000000;
        margin-left: .5%;
        padding-right: 1%;
        font-family: "Roboto", serif;
        
    
    }

    nav li a{
        padding: 0.25em, 0.5em;
        display: block;
        color: #000000;
        text-align: center;
        text-decoration: none;
        
    }



/*Style Rules for Main Content */

main {
    background-color: #d6f8d6;
    font-family: "Nunito", sans-serif;
    text-align: justify;
    
}

main p{
    font-size: 1.25em;
    text-indent: 5%;
    margin-left: 20%;
    margin-right:20%;
}

main h2 {
    font-family: "Nunito", serif;
    font-size: 1.5em;
    text-align: center;
}

button {
    width: 150px;
    height: 40px;
    background-color: #e8f537;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-color: #000000;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.image-row {
    display: flex;
    gap: 20px;
    margin-left: 14%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.image-item {
    text-align: center;
    align-items: center;
}

.image-item img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    border: 8px solid #7fc6a4;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}


.sponsors {
    text-align: center;
    margin-top: 300px;
}

.sponsor-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; 
    margin-top: 50px;
}

.sponsor-item img {
    width: 150px; 
    height: auto;
    border-radius: 8px;
    border: 2px solid #7fc6a4;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    
}

.about p{
    text-align: justify;
    margin-left: 20%;
    margin-left: 20%;
   }

.volunteer-image {
    text-align: center;
    padding-top: 2%;
}
.volunteer-image img{
        width: auto;
    height: auto;
    border-radius: 8px;
    border: 8px solid #7fc6a4;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}




/*Style Rules for Table*/

table {
    border: 1pm solid #000000;
    border-collapse: collapse;
    margin: auto;
    width:65%;


}

th, td {
    border: 1px solid #000000;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 20px;

}

td{
    text-align: left;
}

th {
    background-color: #7fc6a4;
    color: #000000;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #7fc6a4;
}

button {
    width: 150px;
    height: 40px;
    background-color: #e8f537;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-color: #2f2e2e;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: #000;
}
    

/*Stye Rules for Form Element*/
   
h2 {
    padding-top: 1%;
}

fieldset, input, text area{
    margin-bottom: 1%;
    }

fieldset legend{
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;

}

.form-grid {
    width:fit-content;
    margin: 0 auto
    
}

label {
    display: block;
    padding-top: 1%;
}

form #submit {
    margin: 0 auto;
    display: block;
    padding: 2%;
    background-color: #e8f537;
    color: #000000;
    font-size: 1.25em;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    

}

/*Style Rules for Form*/
    form{
        border: #000;
    }

    .form-grid{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    
    }

    .btn {
        grid-column: 1 / span 2;
    }


/*Style Rules for Footer Content */

footer {
    text-align: center;
    font-size: 1em;
    clear: left;
    background-color: rgb(249, 249, 248);
    font-family: "Nunito", sans-serif;
}

footer a{
    color: #000000;
    text-decoration: none;
    
}

.soical img{
    display: block;
    padding: 2%;
    }